<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fachri.biwtaqwa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ronal.biwtaqwa.menus.videokajian.DetailVideoKajianActivity"></activity>
        <activity android:name="com.ronal.biwtaqwa.menus.doa.DetailDoaActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.doa.DetailListDoaActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.zakat.MenuZakatActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.videokajian.MenuVideoKajianActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.jadwalsholat.MenuJadwalSholatActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.dzikir.MenuDzikirActivity" />
        <activity android:name="com.ronal.biwtaqwa.menus.doa.MenuDoaActivity" />
        <activity
            android:name="com.ronal.biwtaqwa.dashboard.DashboardActivty"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>